<head>

</head>
<body>
<br>
<br>
<p>This is the partial for view 2.</p>






                <h3 align="top">Create A Dinner Group!</h3>

                    <label>Date<label>

                    <label>Event Name</label>
                    <input id="event-name" class="form-control" ng-model="event.name">
                    <label>Location</label>
                    <textarea class="form-control" ng-model="events.location"></textarea>
                    <label class="form-group">Time</label>
                    <textarea class="form-control" ng-model="event.when"></textarea>
                    <label class="form-group">Event Description</label>
                    <textarea class="form-control" ng-model="event.description"></textarea>


                    <label class="form-group">members</label>
                    <textarea class="form-control" ng-model="event.members"></textarea>
                    <label class="form-group">host</label>
                     <textarea class="form-control" ng-model="event.event_host"></textarea>

                    <label>Comments About Event:</label>
                    <textarea class="form-control" ng-model="event.messages"></textarea>
                    <button class="btn btn-success btn-md" ng-click="addEvent()"><span class="glyphicon glyphicon-cloud-upload"></span>Save Event</button>

</body>