<footer>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <div form-group>
                        <h3 align="top">Create A Dinner Group!</h3>
                        <label class="">Date</label>
                        <textarea class="form-control" ng-model="event.when"></textarea>
                        <label>Location</label>
                        <textarea class="form-control" ng-model="event.location"></textarea>
                        <label class="form-group">Event Description</label>
                        <textarea class="form-control" ng-model="event.description"></textarea>
                        <label>Comments About Event:</label>
                        <textarea class="form-control" ng-model="event.comments"></textarea>
                        <button class="btn btn-success btn-md" ng-click="addEvent()"><span class="glyphicon glyphicon-cloud-upload"></span>Add Event</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>