<p>This is the partial for view 2.</p>


<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3 align="top">Create A Dinner Group!</h3>
                <div form-group>
                    <label class="">Event Title</label>
                    <input id="event-name" class="form-control" ng-model="event.title">
                    <label>Date</label>
                    <textarea class="form-control" ng-model="event.start"></textarea>
                    <label class="">Host</label>
                    <input id="host-name" class="form-control" ng-model="event.host">

                    <label class="">Time</label>
                    <textarea class="form-control" ng-model="event.when"></textarea>
                    <label class="form-group">Event Comment</label>
                    <textarea class="form-control" ng-model="event.comment"></textarea>

                    <button class="btn btn-success btn-md" ng-click="addEvent()"><span class="glyphicon glyphicon-cloud-upload"></span>Add Event</button>
                </div>
            </div>
        </div>
    </div>
</div>