nav ul {
  list-style: none;
  overflow: hidden;

  position: fixed;
  padding: 0px;
  text-transform: uppercase;
  background-color: #c8def4;
  width: 100%;
  margin: 0px 0;
  font-size: xx-large;
  font-weight: bolder;
}

nav ul li {
  float: left;
  /*width should change for how many buttons we have. If we have 5, it should be 20%. If we have 3 it should be 33% ect*/
  width: 25%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

nav ul li a {
  text-align: center;
  margin: 0px;
  display: block;
  width: 100%;
  background-color: #cfe5fb;

}

nav ul li a,

nav ul li a:active {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,

nav ul li a:active {
  background-color: #478fa0;
}


table, td, th {
  border: 1px solid dimgray;
  border-collapse: collapse;
  padding: 15px;
}

table{
    width: 100%;
}

td{
    heigth: 100px;
}







