

h1 {
  text-transform: uppercase;
  background-color: #79d08f;
  margin: 0px;
}

nav {
  width: 100%;
  margin: 0px 0;
  font-size: xx-large;
  font-weight: bolder;
  position: fixed;
}

nav ul {
  list-style: none;
  overflow: hidden; }

nav ul li {
  float: left;
  width: 20%; }

nav ul li a {
  text-align: center;

  display: block;
  width: 100%;
  background-color: #ff5f10;

}

nav ul li a,

nav ul li a:active {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,

nav ul li a:active {
  background-color: #ff3219;
}










