body {
    padding-top: 70px;
}

/*
 * spaces ng-view data from navbar
 */

.extra-space {
    margin-top: 30px;
}


/*
 * Media Queries
 */

@media screen and (max-width: 959px) {
    #container {
        width: 960px;
        margin: 0 auto;
    }

    #left-column {
        width: 700px;
        float: left;
        background: blue;
    }

    #right-column {
        width: 260px;
        float: left;
        background: orange;
    }
}


/*
 * Navbar responsive design
 */

nav {
    margin: 0px;
}

header > div {
    border-radius: 1px;
    border-color: lightgrey;
}


nav ul {
    list-style: none;
    overflow: hidden;
    position: fixed; /*relative*/
    padding: 10px;
    margin: 0px 30px;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    background-color: white; /*#fafafa*/
}

nav li {
    float: left;
    padding: 0px;
    display: block;
}

a {
    width: 100%
    text-align: center;
    padding: 7px;
    border-radius: 200px;
    display: inline-block;
    margin: 10px 25px;
}



/*
 * Navbar effects
 */

nav ul li a {
    color: #478fa0;
    text-decoration: none;
    font-family: lato, arial, sans-serif;
}

nav ul li a:hover {
    text-decoration: none;
    /*background-color: #478fa0;*/
    color: #67abbb;
}

nav ul li a:link {
    text-decoration: none;
    list-style-type: none;
}

nav ul li a:focus {
    text-decoration: none;
    list-style-type: none;
    background-color: #478fa0;
    color: white;
}