<div class="col-sm-4 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <form editable-form name="editableForm"></form>

            <div>
                <span>title</span>
                <span class="form-control" editable-text="event.title" ng-model="event.title">{{ event.title|| "empty" }}</span>
            </div>
            <div>
                <span>time </span>
                <span class="form-control" editable-text="event.when" ng-model="event.when">{{ event.when || "empty"  }}</span>
            </div>
            <div>
                <span>host </span>
                <span class="form-control" editable-text="event.host" ng-model="event.host">{{ event.host || "empty"  }}</span>
            </div>
            <div>
                <span>comment </span>
                <span class="form-control" editable-text="event.comment" ng-model="event.comment">{{ event.comment || "empty"  }}</span>
            </div>
            <br><br>
            <button class="btn btn-danger btn-md"ng-click="deleteEvent()">Delete Event</button>
            <button class="btn btn-success btn-md"ng-click="editEvent()">Update Event</button>


        </div>
        </div>

    </div>
</div>