<div class="col-xs-2" ng-repeat="event in events">
    <div class="event-card" style="padding-bottom: 15px;">
        <h3>{{event.host}}</h3>
        <p>{{ event.description }}</p>
    </div>
<head>

</head>

<body>
<br>
<br>
<div>
    <ul>
        <li ng-repeat="event in events | orderBy:'date' ">{{ event.name }} is going to be on {{ event.date | date:'fullDate'}}</li>
    </ul>
</div>


<!--<div ui-calendar="calendarOptions" ng-model="eventSources" calendar="myCalendar"></div>-->
<div class=" col-md-10">

                            <tab select="renderCalender('myCalendar1');">
                              <tab-heading>
                               <i class="glyphicon glyphicon-bell"></i> Calendar One
                              </tab-heading>
                              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                <h4>{{alertMessage}}</h4>
                              </div>
                              <div class="btn-toolbar">
                                <p class="pull-right lead">Calendar One View Options</p>
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
                                </div>
                              </div>
                            <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                           </tab>


                    </div>
</body>





