<div class="thumbnail">
    <div class="caption">
        <div class="form-group">
            <h3 align="top">Add Event</h3>
            {{dateBounds.start.toDateString()}}
            <br><br>
            <div>
                <label>Whatcha cookin?</label>
                <input type="text" class="form-control word-padding" ng-model="event.title">
            </div>
            <br>
            <!--<div>-->
                <!--<label>Where</label>-->
                <!--<span><input type="text" class="form-control" ng-model="event.title"></span>-->
            <!--</div>-->
            <!--<br>-->
            <div>
                <label>When</label>
                <input type="text" class="form-control word-padding" ng-model="event.when">
            </div>
            <br>
            <!--<div>-->
                <!--<label class="form-group">Host</label>-->
                <!--<input type="text" class="form-control" ng-model="event.host">-->
            <!--</div>-->
            <!--<br>-->
            <div>
                <label>Comments</label>
                <textarea class="form-control word-padding" ng-model="event.comment"></textarea>
            </div>
            <br>
            <button class="btn btn-primary btn-md" ng-click="ok()">Add Event</button>
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>