<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <div form-group ng-model="newMemberName">
                        <h3 align="top">Add a New Member!</h3>
                        <div class="update-edit-spacing">
                            <span>First Name</span>
                            <span type="text" class="form-control" ng-model="member.first_name"></span>
                        </div>
                        <div class="update-edit-spacing">
                            <span class="form-group">Last Name</span>
                            <span type="text" class="form-control" ng-model="member.last_name"></span>
                        </div>
                        <div class="update-edit-spacing">
                            <span class="form-group">Phone Number</span>
                            <span type="text" class="form-control" ng-model="member.phone_number"></span>
                        </div>
                        <div class="update-edit-spacing">
                            <span class="form-group">Street Address</span>
                            <span type="text" class="form-control" ng-model="member.street"></span>
                        </div>
                        <div class="update-edit-spacing">
                            <span class="form-group">Apartment Number</span>
                            <span type="text" class="form-control" ng-model="member.apartment_number" placeholder="e.g.   Apt. 8"></span>
                        </div>
                        <div class="update-edit-spacing">
                            <span class="form-group">City</span>
                            <span type="text" class="form-control" ng-model="member.city"></span>
                        </div>
                        <div class="update-edit-spacing">
                            <span class="form-group">State</span>
                            <span type="text" class="form-control" ng-model="member.state"></span>
                        </div>
                        <div class="update-edit-spacing">
                            <span class="form-group">Zip</span>
                            <span class="form-control" ng-model="member.zip"></span>
                        </div>
                        <div class="update-edit-spacing">
                            <span class="form-group">Food Allergies?</span>
                            <textarea class="form-control" ng-model="member.allergy"></textarea>
                        </div>
                        <br>
                        <button class="btn btn-primary" ng-click="addMember()"></span>Add Member</button>
                        <button class="btn btn-danger" role="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


