
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <div form-group ng-model="newMemberName">
                        <h3 align="top">Add A New Member!</h3>
                        <label class="form-group">First Name</label>
                        <input type="text" class="form-control" ng-model="member.first_name">
                        <label class="form-group">Last Name</label>
                        <input type="text" class="form-control" ng-model="member.last_name">
                        <label class="form-group">Phone Number</label>
                        <input type="text" class="form-control" ng-model="member.phone_number">
                        <label class="form-group">Street Address</label>
                        <input type="text" class="form-control" ng-model="member.street">
                        <label class="form-group">Apartment Number?</label>
                        <input type="text" class="form-control" ng-model="member.apartment_number" placeholder="e.g.   Apt. 8"></textarea>
                        <label class="form-group">City</label>
                        <input type="text" class="form-control" ng-model="member.city">
                        <label class="form-group">State</label>
                        <input type="text" class="form-control" ng-model="member.state">
                        <label class="form-group">Zip</label>
                        <input type="text" class="form-control" ng-model="member.zip">
                        <label class="form-group">Food Allergies?</label>
                        <textarea class="form-control" ng-model="member.allergy"></textarea>
                        <br>
                        <button class="btn btn-primary" ng-click="addMember()"></span>Add Member</button>
                        <button class="btn btn-danger" role="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


