
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <div form-group ng-model="newMemberName">
                        <h3 align="top">Create A New Member!</h3>
                        <label class="form-group">Name</label>
                        <textarea class="form-control" ng-model="member.name"></textarea>
                        <label class="form-group">Phone Number</label>
                        <textarea class="form-control" ng-model="member.phone_number"></textarea>
                        <label class="form-group">Street Address</label>
                        <textarea class="form-control" ng-model="member.street"></textarea>
                        <label class="form-group">City</label>
                        <textarea class="form-control" ng-model="member.city"></textarea>
                        <label class="form-group">state</label>
                        <textarea class="form-control" ng-model="member.state"></textarea>
                        <label class="form-group">Food Allergies</label>
                        <textarea class="form-control" ng-model="member.allergy"></textarea>
                        <button class="btn btn-success btn-md" ng-click="addMember()"><span class="glyphicon glyphicon-cloud-upload"></span>Add Member</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
