<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <form editable-form name="editableForm"></form>

                    <div>
                        <span>First Name</span>
                        <span class="form-control" editable-text="member.first_name" ng-model="member.name">{{ member.first_name }}</span>
                    </div>
                    <div>
                        <span>Last Name</span>
                        <span class="form-control" editable-text="member.last_name" ng-model="member.name">{{ member.last_name }}</span>
                    </div>
                    <div>
                        <span>Phone Number</span>
                        <span class="form-control" editable-text="member.phone_number" ng-model="member.phone_number">{{ member.phone_number }}</span>
                    </div>
                    <div>
                        <span>Street</span>
                        <span class="form-control" editable-text="member.street" ng-model="member.street">{{ member.street }}</span>
                    </div>
                     <div>
                        <span>Apartment Number</span>
                        <span class="form-control" editable-text="member.apartment_number" ng-model="member.street">{{ member.apartment_number }}</span>
                    </div>
                    <div>
                        <span>City</span>
                        <span class="form-control" editable-text="member.city" ng-model="member.city">{{ member.city }}</span>
                    </div>
                    <div>
                        <span>State</span>
                        <span class="form-control" editable-text="member.state" ng-model="member.state">{{ member.state }}</span>
                    </div>
                     <div>
                        <span>Zip</span>
                        <span class="form-control" editable-text="member.zip" ng-model="member.zip">{{ member.zip }}</span>
                    </div>
                    <div>
                        <span>Allergy</span>
                        <span class="form-control" editable-text="member.allergy" ng-model="member.allergy">{{ member.allergy }}</span>
                    </div>
                    <br><br>
                    <!--<span ng-show="editableForm.$visible">-->
                        <button type="submit" class="btn btn-success" ng-click = "editMember()">Save</button>
                        <button type="button" class="btn btn-primary" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
                        <button type="button" class="btn btn-danger"ng-click="deleteMember()">Delete</button>
                    <!--</span>-->
                </div>
            </div>
        </div>
    </div>
    <!--<button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">Edit</button>   -->
</div>




